@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    via Vittorio Emanuele<br />
    Milano, MI 20147<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:gigliadavide@gmail.com">gigliadavide@gmail.com</a><br />
</address>
